@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;500&family=Satisfy&display=swap');
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a{
    color: white;
    list-style: none;
	text-decoration: none;
}

#root,html,body{
    height: 100%;
    background-color: bisque;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-family: 'Nunito', sans-serif;
    font-weight: 300;
}

header,footer{
    height: 12vh;
    background-color: rgba(0, 0, 79, 0.6);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    box-shadow: 1px 1px 2px 2px #737373;
}
.brand{
    font-size: 2.5rem;
    color: goldenrod;
    font-family: 'Satisfy', cursive;
}
header > *, footer > *{
    width: 35%;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav > a{
    color: white;
    font-size: 1.2rem;
}
footer{
    color: white;
    font-weight: 300;
    font-size: 1rem;
    padding: 1.3rem;
}
main{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.hero-img{
    width: 100%;
}
.material-icons{
    color: white;
    font-size: 1.3rem;
}
.userName{
    font-size: 1.3rem;
    position: absolute;
    right: 10rem;
    padding: 1rem;
    margin: .5rem;
    background-color: bisque;
}
.social{
    display: flex;
    justify-content: space-evenly;
}
.social > a{
    color: white;
}
.hero{
    position: absolute;
    left: 2rem;
    color: white;
    padding: 2rem;
    top: 16rem;
    border-radius: 0.3rem;
    min-height: 100vh;
}
.hero-title{
    font-weight: 500;
    font-size: 2.4rem;
    border-bottom: 2px solid rgba(185, 140, 27, .7);
}
.hero-text{
    font-weight: 200;
    font-size: 1.9rem;
}
.hero-button{
    position: relative;
    width: 8rem ;    
    height: 2.5rem;
    margin-top: .8rem;
    background-color: rgba(185, 140, 27, .7);
    color: white;
    border: none;
    font-weight: 100;
    font-size:  1.2rem;
}
.hero-brand{
    font-family: 'Satisfy', cursive;
    font-size: 2.5rem;
}
#cart-widget{
    padding: .8rem;
}
#cart-counter{
    color: blueviolet;
    font-size: .9rem;
    font-weight: 600;
    background-color: rgb(255,255,255);
    padding: 0.09rem 0.4rem;
    border-radius: 1rem;
    position: relative;
    top: -15px;
    right: 10px;
}
#cart-icon{
    font-size: 1.7rem;
    top: .3rem;
    position: relative;
}
.products-container{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    width: 85%;
    margin: 2rem 0;
}
.product{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    width: 20%;
    background-color: rgb(255 255 255);
    color: white;
    margin: 0.5rem;
    box-shadow: 2px 2px 2px 2px #ccc;
    border-radius: .4rem;
}
.product-name{
    font-size: 1.4rem;
    background-color: rgb(95 66 119);
    color: #ffffff;
    width: 100%;
    padding: 15px;
    text-align: center;
    font-weight: 200;
    border-top-left-radius: 0.4rem;
    border-top-right-radius: 0.4rem;
    min-height: 92px;
}
.product-price{
    font-size: 20px;
    background-color: rgba(95,66,119);
    padding: 5px;
    color: white;
    margin: 10px;
    border-radius: 1rem;
}
.product-img{
    width: 100%;
}
.product-button{
    margin-bottom: 0.5rem;
    padding: 0.4rem;
    background-color: rgb(194, 161, 76);
    border: 1px solid goldenrod;
    color: white;
    font-size: .8rem;
    font-weight: 400;
    border-radius: 1rem;
    cursor: pointer;
}
.loading-message{
    min-height: 100vh;
    display: flex;
    align-items: center;
}
.error-message{
    min-height: 100vh;
    display: flex;
    align-items: center;
    color: red;
    font-size: 2rem;
    font-weight: 700;
}
.product-column{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}
.section-title{
    font-size: 3rem;
    text-align: center;
    border-bottom: 2px solid purple;
    margin: 1rem 0;
    font-family: 'Nunito', sans-serif;
    font-weight: 500;
    letter-spacing: .5rem;
    color: purple;
}
.product-detail-container{
    display: flex;
    align-items: flex-start;
    width: 65%;
    height: 100%;
    justify-content: center;
    padding: 9rem;
}
.image-detail{
    width: 50%;
    margin-right: 0.5rem;
    border-radius: 1rem;
}
.product-detail{
    background-color: rgba(229, 191, 116, 0.452);
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-around;
    margin-left: 0.5rem;
    padding: 1rem;
    border-radius: 1rem;
}
.product-detail-name{
    font-size: 2.5rem;
    width: 80%;
    color: purple;
    font-weight: 400;
    border-bottom: 1px solid purple;
}
.product-detail-description, .product-detail-price{
    font-size: 1.5rem;
    width: 70%;
    word-break: break-word;
}
.product-detail-price{
    border-radius: 1rem;
    padding: .4rem;
    background-color: purple;
    color: white;
    width: 25%;
    text-align: center;
    margin-bottom: 1rem;
}

.product-detail-button{
    margin-bottom: 0.5rem;
    padding: 0.7rem;
    background-color: rgb(194, 161, 76);
    border: none;
    color: white;
    font-size: 1.2rem;
    font-weight: 400;
    cursor: pointer;
    width: 100%;
}


/*Loading effect*/
.loader {
    font-size: 10px;
    margin: 50px auto;
    text-indent: -9999em;
    width: 11em;
    height: 11em;
    border-radius: 50%;
    background: goldenrod;
    background: -moz-linear-gradient(left, goldenrod 10%, rgba(140,45,185, 0) 42%);
    background: -webkit-linear-gradient(left, goldenrod 10%, rgba(140,45,185, 0) 42%);
    background: -o-linear-gradient(left, goldenrod 10%, rgba(140,45,185, 0) 42%);
    background: -ms-linear-gradient(left, goldenrod 10%, rgba(140,45,185, 0) 42%);
    background: linear-gradient(to right, goldenrod 10%, rgba(140,45,185, 0) 42%);
    position: relative;
    -webkit-animation: load3 1.4s infinite linear;
    animation: load3 1.4s infinite linear;
    -webkit-transform: translateZ(0);
    -ms-transform: translateZ(0);
    transform: translateZ(0);
  }
  .loader:before {
    width: 50%;
    height: 50%;
    background: goldenrod;
    border-radius: 100% 0 0 0;
    position: absolute;
    top: 0;
    left: 0;
    content: '';
  }
  .loader:after {
    background: #FFE4C4;
    width: 75%;
    height: 75%;
    border-radius: 50%;
    content: '';
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
  }
  @-webkit-keyframes load3 {
    0% {
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    100% {
      -webkit-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }
  @keyframes load3 {
    0% {
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    100% {
      -webkit-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }
  